body{
	background: rgba(102, 153, 153,.5);
	margin: 5px 150px 50px 150px;
	border: 5px groove rgba(102, 153, 153,1)  
}
h1{
background: rgba(102, 153, 153,.7);	
color:rgba(89, 89, 89, 1);
border: 3px solid rgba(102, 153, 153,1);
font-family:Copperplate, "Copperplate Gothic Light", fantasy; 
font-size: xx-large;
text-align: center;
}
h3{
background: rgba(102, 153, 153,.5);	
color:rgba(89, 89, 89, 1);
border : 2px solid rgba(102, 153, 153,1);
align-content: stretch;
margin: 20;
font-family:Copperplate, "Copperplate Gothic Light", fantasy; 
font-size: large;
}
div{

	font-family: Montserrat
}

#ResumePic
{
margin: .01px .01px .01px 1px;
border-radius: 90%;
}

.Role
{
	margin: 0px 0px 0px 35px;
}

#PROFILE
{
	font-family: Sans
}